$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$link-color:                #222;

@import "bootstrap/bootstrap";

body {
    font-size: 15px;
    background-color: #F2F2F2;
}
.container {
    @media (min-width: 768px) {
        max-width: 900px;
    }
    @media (min-width: 1200px) {
        max-width: 1500px;
    }
}

#header {
    position: relative;
    margin: 1rem 0;
    .logo {
        height: 4rem;
        img {
            max-height: 100%;
        }
    }
    
    .nav-search {
        display: inline-block;
        > button {
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }
    }
    @media screen and (max-width: 960px) {
        .nav-open {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 101;
            width: 5rem;
            height: 5rem;
            border: 0;
            color: #fff;
            background-color: #1C1C1C;
        }
        .nav-main {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 102;
            width: 100vw;
            height: 100vh;
            color: #fff;
            background-color: #1C1C1C;
            &.active {
                display: flex;
            }
            a {
                display: block;
                line-height: 3.6;
                color: #fff;
            }
            .nav-close {
                width: 5rem;
                height: 5rem;
                border: 0;
                background-color: $yellow;
                margin-top: 6rem;
            }
        }
    }
    @media screen and (min-width: 961px) {
        .logo {
            height: auto;
        }
        .nav-close, .nav-open {
            display: none;
        }
        .navigation {
            position: absolute;
            top: 2rem;
            right: 0;
            text-align: right;
            a {
                color: colors(dark);
            }
        }
        .nav-main {
            display: inline-block;
            > a {
                display: inline-block;
                padding: 1rem .8rem;
            }
        }
    }
}
#title {
    box-shadow: 0 2px 28px rgba(0, 0, 0, 0.2);
}
#slider {
    display: none;
    @media (min-width: 769px) {
        display: block;
    }
}
#infor {
    display: none;
    width: 100%;
    height: 200px;
    @media (min-width: 961px) {
        display: block;
        .infor-qa, .infor-more, .infor-number, .infor-slogn {
            float: left;
            height: 100%;
        }
        .infor-qa {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 60px - 300px);
            background-color: #fff;
            padding: 1rem;
            &-title {
                font-family: Georgia;
                font-size: 26px;
                color: #DADADA;
            }
            .infor-qa-ctrl {
                position: absolute;
                left: 1rem;
                bottom: 1rem;
                list-style: none;
                margin: 0 -6px;
                padding: 0;
                li {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #D7D7D7;
                    margin: 0 6px;
                    cursor: pointer;
                    &.active {
                        background-color: #1C1C1C;
                    }
                }
            }
        }
        .infor-more {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 60px;
            background-color: $yellow;
            padding-bottom: 1rem;
            cursor: pointer;
        }
        .infor-number {
            display: none;
        }
        .infor-slogn {
            position: relative;
            width: 300px;
            color: #fff;
            background-color: #1C1C1C;
            padding: 2rem;
            .button {
                display: inline-block;
                font-size: 13px;
                border-radius: 30px;
                background-color: #333;
                padding: 6px 28px;
                margin: 0 -3px 6px;
                cursor: pointer;
            }
            .infor-slogn-share {
                position: absolute;
                bottom: 1rem;
                a {
                    img {
                        max-width: 100%;
                    }
                    + a {
                        margin: 0 5px;
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    @media (min-width: 1280px) {
        .infor-qa {
            width: calc(50% - 60px);
            .infor-qa-ctrl {
                left: 2rem;
            }
        }
        .infor-number {
            display: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: calc(50% - 300px);
            background-color: #F3F3F3;
            padding: 0 .3rem;
            .infor-number-box {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                max-width: 140px;
                height: 100%;
                text-align: center;
                font-family: Georgia;
                font-size: 18px;
                color: #1C1C1C;
                background: image-url('infor-number1.png') center/contain no-repeat;
                padding-top: 3rem;
                margin: .3rem;
            }
            .infor-number-user {
                background-image: image-url('infor-number2.png');
            }
        }
    }
    
}

.js-slider {
    position: relative;
    img {
        width: 100%;
        min-width: 100%;
    }
    .js-slider-arrow {
        position: absolute;
        right: 100px;
        bottom: 0;
        button {
            float: left;
            width: 100px;
            height: 100px;
            color: #fff;
            border: 0;
        }
        .slider-left {
            background-color: $gray-900;
        }
        .slider-right {
            background-color: $yellow;
        }
    }
}

#ticket {
    .ticket-search {
        max-width: 85rem;
        margin: 0 auto;
        padding-bottom: 1rem; 
        .btn-search {
            width: 100%;
            height: 50px;
            line-height: 50px;
            border: 0;
            background-color: #fff;
            box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            > i {
                padding-right: 3%;
            }
        }
    }
    .ticket-search-wrap {
        margin: 10px 0 0;
        button {
            font-size: 13px;
            color: #5b5353;
        }
    }
    .dropdown-item {
        font-size: 13px;
    }
    @media (min-width: 481px) {
        margin: 3rem 0;
        .ticket-search {
            padding-bottom: 2rem; 
        }
        
    }
    @media (min-width: 961px) {
        margin: 6rem 0;
        .ticket-search {
            padding-bottom: 3rem; 
            .btn-search {
                width: 210px;
            }
        }
    }
}
.element {
    margin-bottom: 3%;
    transition: box-shadow 0.3s ease-in-out;
    .element-body {
        position: relative;
        max-width: 360px;
        font-size: 13px;
        margin: 0 auto;
    }
    .element-img {
        position: relative;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;
        img {
            width: 100%;
            max-width: 100%;
            border-right: transparent
        }
        &:before {
            content: '';
            box-shadow: inset 0 0 0 0 $yellow;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 9;
            opacity: 0.8;
            transition: box-shadow 0.2s ease-in-out;
        }
        &:hover {
            &:before {
                content: '';
                box-shadow: inset 0 0 0 18px $yellow;
            }
        }
    }
    .element-title {
        padding: 6px 0 4px;
    }
    .element-span {
        position: absolute;
        right: -6px;
        bottom: 46px;
        z-index: 10;
        width: 44%;
        height: 36px;
        text-align: center;
        line-height: 36px;
        background: #f9ca3e;
    }
    .element-star {
        display: inline-block;
        background: #fff;
        padding: 2px 6px;
        border-radius: 5px;
        cursor: pointer;
        > i {
            color: $yellow;
            padding-right: 2px;
        }
        &:hover {
            background-color: $yellow;
            > i {
                color: #fff;
            }
        }
    }
}

#map {
    width: 100%;
    height: 380px;
    background: image-url('not-use/map.png') center no-repeat;
}

#footer {
    background-color: #1C1C1C;
    font-size: 13px;
    color: #fff;
    padding: 50px 0;
    img {
        float: left;
    }
    .footer-infor {
        float: left;
        padding-left: 5%;
        ul {
            list-style: none;
            padding: 0;
        }
    }
    .company-name {
        font-size: 22px;
        font-weight: bold;
        color: $yellow;
        margin-bottom: 1rem;
    }
    .copyright {
        text-align: center;
        color: #818181;
        padding-top: 1rem;
        margin-top: 2rem;
        border-top: 1px solid rgba(0, 0, 0, .3);
    }
    @media (min-width: 1200px) {
        padding: 100px 0;
        .copyright {
            border-top: 0;
            padding-top: 0;
            margin-top: 0;
        }
    }
}


#search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);
    .search-icon {
        line-height: 100px;
        width: 6%;
        text-align: right;
    }
    .search-input {
        width: 100%;
        border: 0;
        padding: 0 1%;
    }
    .search-close {
        width: 6%;
        border: 0;
        background-color: $yellow;
        cursor: pointer;
    }
}
